.slide{
    float: left;
}
.slides{
    width: calc(500px*3);
    animation: glisse 5s infinite;
}
.slider{
    width: 500px;
    height: 259px;
    overflow: hidden;
    margin: 150px auto;
}
 @keyframes glisse {
     0% {
        transform: translateX(0);
     }
     33% {
        transform: translateX(-500px);
     }
     66% {
        transform: translateX(-1000px);
     }
     100% {
        transform: translateX(0);
     }
 }